.Header_position {
    display: grid;
    margin-bottom: 7vh;
}

.Auth_position {
    display: grid;
}

.ProductCardContainer_position {
    display: grid;
}

.LeftPanel_position {
    display: grid;
}

.RightPanel_position {
    display: grid;
}
